* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.titles-sec {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
}

.titles-sec span {
  color: #ffbb00;
}

.__width {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.btn {
  background: #ffbb00;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border: 0;
  cursor: pointer;
}

.header {
  background: #000000;
  color: #ffffff;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header a {
  color: #ffffff;
}

.header .box-width {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.header .box-width nav a {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  position: relative;
}

.header .box-width nav a:nth-of-type(2) {
  margin: 0 40px;
}

.header .box-width nav a::after {
  position: absolute;
  width: 0;
  content: "";
  height: 2px;
  border-radius: 5px;
  top: 28px;
  left: 0;
}

.header .box-width nav a:hover {
  color: #ffbb00;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.header .box-width nav a:hover::after {
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
  width: 100%;
  background: #ffbb00;
}

.footer {
  background: #000000;
  padding-block: 60px;
}

.footer a {
  color: #808080;
}

.footer .box-width {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .box-width .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .box-width .content span {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 5%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.footer .box-width .content .contact,
.footer .box-width .content .informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer .box-width .content .contact a,
.footer .box-width .content .informations a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-size: 500;
  line-height: 24px;
}

.footer .box-width .content .contact a:hover,
.footer .box-width .content .informations a:hover {
  text-decoration: underline;
}

.footer .box-width .content .contact {
  margin-right: 120px;
}

.footer .box-width .content .contact .box-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-block: 36px;
  gap: 10px;
}

.footer .box-width .content .contact .box-address {
  width: 250px;
}

.footer .box-width .content .contact .midia-social {
  margin-top: 32px;
}

.footer .box-width .content .contact .midia-social a {
  text-decoration: none;
}

.footer .box-width .content .contact .midia-social a:nth-of-type(2) {
  margin: 0 16px;
}

.footer .box-width .content .informations span {
  margin-bottom: 36px;
}

.footer .box-width .content .informations a {
  margin-top: 8px;
}

.footer .box-width .content .informations a:nth-of-type(1) {
  margin-top: 0;
}

.page-index .subheader {
  background: #000000;
  padding: 80px 0;
}

.page-index .subheader h1 {
  font-family: "Poppins", sans-serif;
  font-size: 68px;
  line-height: 76px;
  font-weight: 700;
  color: #ffffff;
}

.page-index .subheader h1 span {
  color: #ffbb00;
}

.page-index .subheader p {
  color: #d1d1d1;
  font-size: 20px;
  line-height: 28px;
  font-family: "Roboto Mono", monospace;
}

.page-index .subheader .__width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-index .subheader .__width .content {
  width: 600px;
}

.page-index .subheader .__width .content p {
  width: 530px;
  margin: 28px 0 40px;
}

.page-index .subheader .__width img {
  width: 500px;
  height: 600px;
  position: absolute;
  top: -80px;
  right: 0;
  border-radius: 5px;
}

.page-index .prod-bikes {
  width: 100%;
  padding: 140px 5% 80px;
}

.page-index .prod-bikes h2 span {
  color: #ffbb00;
}

.page-index .prod-bikes .bikes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 72px;
}

.page-index .prod-bikes .bikes .card {
  width: 515px;
}

.page-index .prod-bikes .bikes .card img {
  width: 100%;
  border-radius: 5px;
}

.page-index .prod-bikes .bikes .card .info-bike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2px;
  position: relative;
  margin-top: 12px;
  padding-left: 30px;
}

.page-index .prod-bikes .bikes .card .info-bike .legend {
  color: #000000;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.page-index .prod-bikes .bikes .card .info-bike .price {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
  font-weight: 500;
}

.page-index .prod-bikes .bikes .card .info-bike::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 18px;
  height: 8px;
  background: #ffbb00;
}

.page-index .diferentials {
  background: #121212;
  padding: 48px 0;
}

.page-index .diferentials .legend {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #808080;
  font-family: "Roboto Mono", monospace;
}

.page-index .diferentials .titles-sec {
  color: #ffffff;
}

.page-index .diferentials .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-index .diferentials .content .description {
  width: 600px;
}

.page-index .diferentials .content .description p {
  font-size: 20px;
  color: #ffffff;
  line-height: 28px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  margin: 44px 0 20px;
  width: 550px;
}

.page-index .diferentials .content .description a {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #ffbb00;
  font-weight: 500;
  position: relative;
}

.page-index .diferentials .content .description a::after {
  position: absolute;
  width: 0%;
  top: 20px;
  left: 0;
  height: 2px;
  background: #ffbb00;
  content: "";
}

.page-index .diferentials .content .description a:hover::after {
  width: 100%;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.page-index .diferentials .content .technology {
  color: #ffffff;
  width: 400px;
  margin-top: 50px;
}

.page-index .diferentials .content .technology span {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 28px;
}

.page-index .diferentials .content .technology p {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.page-index .diferentials .content .technology .electric span {
  position: relative;
}

.page-index .diferentials .content .technology .electric span::before {
  content: url("../../images/icones/eletrica.svg");
  position: absolute;
  right: 220px;
  top: 0;
}

.page-index .diferentials .content .technology .electric p {
  margin: 16px 0 32px;
}

.page-index .diferentials .content .technology .tracker span {
  position: relative;
}

.page-index .diferentials .content .technology .tracker span::before {
  content: url("../../images/icones/rastreador.svg");
  position: absolute;
  right: 175px;
  top: 0;
}

.page-index .diferentials .content .technology .tracker p {
  margin-top: 16px;
}

.page-index .partness {
  padding: 80px 0;
}

.page-index .partness .titles-sec {
  margin-bottom: 44px;
}

.page-index .partness .box-partness {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(4, 1fr);
}

.page-index .partness .box-partness li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #c4c4c4;
  padding: 20px 0;
}

.page-index .partness .box-partness li:nth-child(1),
.page-index .partness .box-partness li:nth-child(5) {
  border: 0;
}

.page-index .partness .box-partness li:nth-child(n + 5) {
  border-top: 1px solid #c4c4c4;
}

.page-index .partness .box-partness li img {
  margin: auto;
}

.page-index .comments {
  background: #ffbb00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-index .comments .box-img {
  height: 70vh;
}

.page-index .comments .box-img img {
  height: 100%;
}

.page-index .comments .__width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-index .comments .box-comment {
  width: 630px;
}

.page-index .comments .box-comment p {
  font-size: 32px;
  line-height: 44px;
  font-style: italic;
  font-family: "Libre Baskerville", serif;
  position: relative;
}

.page-index .comments .box-comment p::before {
  content: url("../../images/dooble_quote_left.svg");
  position: absolute;
  bottom: 150px;
  right: 630px;
}

.page-index .comments .box-comment p::after {
  content: url("../../images/dooble_quote_right.svg");
  position: absolute;
  bottom: 10px;
  right: 390px;
}

.page-index .comments .box-comment span {
  font-size: 20px;
  line-height: 32px;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  color: #808080;
}

.page-index .insurance {
  background: #121212;
  padding: 80px 0;
}

.page-index .insurance .titles-sec {
  color: #ffffff;
}

.page-index .insurance .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-index .insurance .content .legend {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  font-family: "Poppins", sans-serif;
}

.page-index .insurance .content .silver,
.page-index .insurance .content .gold {
  padding: 32px 40px;
  background: #000000;
  border-radius: 5px;
}

.page-index .insurance .content .silver .header-ins,
.page-index .insurance .content .gold .header-ins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 260px;
}

.page-index .insurance .content .silver .header-ins .box-price,
.page-index .insurance .content .gold .header-ins .box-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: right;
}

.page-index .insurance .content .silver .header-ins .box-price .price,
.page-index .insurance .content .gold .header-ins .box-price .price {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.page-index .insurance .content .silver .header-ins .box-price .month,
.page-index .insurance .content .gold .header-ins .box-price .month {
  font-size: 16px;
  line-height: 20px;
  color: #696969;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.page-index .insurance .content .silver ul,
.page-index .insurance .content .gold ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin-block: 20px;
}

.page-index .insurance .content .silver ul li,
.page-index .insurance .content .gold ul li {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Roboto Mono", monospace;
}

.page-index .insurance .content .silver ul li::before,
.page-index .insurance .content .gold ul li::before {
  position: relative;
  content: url("../../images/icones/lista.svg");
  margin-right: 8px;
}

.page-index .insurance .content .silver .legend {
  color: #808080;
}

.page-index .insurance .content .silver .btn {
  background: #292929;
  color: #ffffff;
  margin-left: 20px;
}

.page-index .insurance .content .gold .legend {
  color: #ca9700;
}

.page-index .insurance .content .gold .btn {
  background: #ca9700;
  margin-left: 20px;
}
/*# sourceMappingURL=main.css.map */
