.titles-sec {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;

  span {
    color: $selective_yellow;
  }
}

.__width {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
