.titles-sec {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;

  @include mobile_s {
    font-size: 30px;
    line-height: 42px;
  }

  @include mobile_m {
    font-size: 30px;
    line-height: 42px;
  }

  span {
    color: $selective_yellow;
  }
}

.__width {
  width: 1200px;
  margin: 0 auto;
  position: relative;

  @include mobile_s {
    width: 100%;
    padding: 0 15px;
  }

  @include mobile_m {
    width: 100%;
    padding: 0 20px;
  }
}
