$white: #ffffff;
$selective_yellow: #ffbb00;
$black: #000000;
$gray: #808080;
$spanish_gray: #9c9c9c;
$chinese_black: #121212;
$gamboge_orange: #a16e00;
$silver_sand: #c4c4c4;
$charleston_green: #292929;
$dim_gray: #696969;
$chinese_gold: #ca9700;
$american_silver: #d1d1d1;
$davys_gray: #545454;
