.header {
  background: $black;
  color: $white;
  height: 120px;
  display: flex;
  align-items: center;

  @include mobile_s {
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 200;
    top: 0;
  }

  @include mobile_m {
    height: 120px;
    position: fixed;
    width: 100vw;
    z-index: 200;
    top: 0px;
  }

  @include mobile_l {
    height: 120px;
    position: fixed;
    width: 100vw;
    z-index: 200;
    top: 0px;
  }

  a {
    color: $white;
  }

  .box-width {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;

    @include mobile_s {
      width: 100%;
      padding: 0 15px;
      position: relative;
      justify-content: space-between;
      align-items: center;
    }

    @include mobile_m {
      width: 100%;
      padding: 0 20px;
      position: relative;
      justify-content: space-between;
      align-items: center;
    }

    @include mobile_l {
      width: 100%;
      padding: 0 25px;
      position: relative;
      justify-content: space-between;
      align-items: center;
    }

    nav {
      @include mobile_s {
        display: none;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background: $black;
        z-index: 200;
        position: fixed;
        text-align: center;
        top: 70px;
        left: 0;
        gap: 15px;
        padding: 20px;
      }

      @include mobile_m {
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100vw;
        background: $black;
        z-index: 200;
        position: fixed;
        text-align: center;
        top: 120px;
        left: 0;
        gap: 30px;
        padding: 20px;
      }

      @include mobile_l {
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100vw;
        background: $black;
        z-index: 200;
        position: fixed;
        text-align: center;
        top: 120px;
        left: 0;
        gap: 30px;
        padding: 20px;
      }

      &.__active {
        @include mobile_s {
          display: flex;
        }

        @include mobile_m {
          display: flex;
        }

        @include mobile_l {
          display: flex;
        }
      }

      a {
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        position: relative;

        @include mobile_s {
          font-size: 20px;
          line-height: 36px;
        }

        @include mobile_m {
          font-size: 20px;
          line-height: 36px;
        }

        @include mobile_l {
          font-size: 20px;
          line-height: 36px;
        }

        &:nth-of-type(2) {
          margin: 0 40px;
        }

        &::after {
          position: absolute;
          width: 0;
          content: "";
          height: 2px;
          border-radius: 5px;
          top: 28px;
          left: 0;
        }

        &:hover,
        &.__active {
          color: $selective_yellow;

          &::after {
            width: 100%;
            background: $selective_yellow;
          }
        }

        &:hover {
          transition: all 0.7s linear;
          &::after {
            transition: all 0.7s linear;
          }
        }
      }
    }
  }
}
