.header {
  background: $black;
  color: $white;
  height: 120px;
  display: flex;
  align-items: center;

  a {
    color: $white;
  }

  .box-width {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;

    nav {
      a {
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        position: relative;

        &:nth-of-type(2) {
          margin: 0 40px;
        }

        &::after {
          position: absolute;
          width: 0;
          content: "";
          height: 2px;
          border-radius: 5px;
          top: 28px;
          left: 0;
        }

        &:hover {
          color: $selective_yellow;
          transition: all 0.7s linear;

          &::after {
            transition: all 0.7s linear;
            width: 100%;
            background: $selective_yellow;
          }
        }
      }
    }
  }
}
