.btn {
  background: $selective_yellow;
  border-radius: 5px;
  text-transform: uppercase;
  width: fit-content;
  padding: 10px;
  border: 0;
  cursor: pointer;
  display: block;

  @include title(
    $f_size: 20px,
    $l_height: 32px,
    $f_weight: 700,
    $color: $black
  );
}
