.subheader {
  background: $chinese_black;
  padding: 60px 0;

  @include mobile_s {
    text-align: center;
    padding: 30px 0;
    margin-top: 100px;
  }

  @include mobile_m {
    text-align: center;
    padding: 30px 0;
    margin-top: 120px;
    width: 100%;
  }

  .legend {
    text-transform: uppercase;
    letter-spacing: 2px;
    @include text(
      $f_size: 20px,
      $l_height: 28px,
      $f_weight: 500,
      $color: $gray
    );

    @include mobile_s {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }

    @include mobile_m {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
  }

  .titles-sec {
    color: $white;
    margin-top: 12px;

    @include mobile_s {
      margin-top: 8px;
    }

    @include mobile_m {
      margin-top: 8px;
    }

    span {
      color: $selective_yellow;
    }
  }
}
