.page-bikes {
  .bikes {
    padding: 80px 0;

    @include mobile_s {
      padding: 40px 0;
    }

    @include mobile_m {
      padding: 40px 0;
    }

    .box-bike {
      a {
        display: block;
      }
      .__width {
        display: flex;
        align-items: center;
        gap: 46px;
        padding: 40px 0;

        @include mobile_s {
          padding: 0 15px;
          flex-direction: column;
        }

        @include mobile_m {
          flex-direction: column;
          padding: 0 15px;
        }

        .img {
          width: 500px;
          height: 320px;
          border-radius: 5px;
          position: relative;

          @include mobile_s {
            width: 100%;
            height: 30vh;
          }

          @include mobile_m {
            width: 100%;
            height: 30vh;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }

          span {
            position: absolute;
            top: 10px;
            right: 0;
            padding: 8px 16px 8px 8px;
            background: $black;
            border-radius: 5px 0 0 5px;
            @include title(
              $f_size: 24px,
              $l_height: 28px,
              $f_weight: 500,
              $color: $white
            );

            @include mobile_s {
              font-size: 16px;
              line-height: 24px;
            }

            @include mobile_m {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }

        .info-bike {
          width: 550px;

          @include mobile_s {
            width: 100%;
          }

          @include mobile_m {
            width: 100%;
          }

          .legend-02 {
            @include title(
              $f_size: 40px,
              $l_height: 48px,
              $f_weight: 700,
              $color: $black
            );
            position: relative;

            @include mobile_s {
              font-size: 24px;
              line-height: 32px;
            }

            @include mobile_m {
              font-size: 24px;
              line-height: 32px;
            }

            &::before {
              content: "";
              width: 20px;
              height: 5px;
              position: absolute;
              background: $selective_yellow;
              bottom: 45px;
              border-radius: 5px;

              @include mobile_s {
                bottom: 35px;
              }

              @include mobile_m {
                bottom: 35px;
              }
            }
          }

          p {
            margin-block: 20px;
            @include text(
              $f_size: 18px,
              $l_height: 28px,
              $f_weight: 500,
              $color: $black
            );

            @include mobile_s {
              margin-block: 10px;
              font-size: 16px;
              line-height: 24px;
            }

            @include mobile_m {
              margin-block: 10px;
              font-size: 16px;
              line-height: 24px;
            }
          }

          .components {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            ul {
              list-style: none;

              li {
                @include list($f_size: 16px, $l_height: 24px);
                margin-top: 4px;
                font-weight: 500;

                &:nth-of-type(1) {
                  display: flex;
                  align-items: center;
                  margin-top: 0;
                  gap: 8px;
                  &::before {
                    content: url("../../images/icones/eletrica.svg");
                    height: 32px;
                  }
                }

                &:nth-of-type(2) {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  &::before {
                    content: url("../../images/icones/carbono.svg");
                    height: 32px;
                  }
                }

                &:nth-of-type(3) {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  &::before {
                    content: url("../../images/icones/velocidade.svg");
                    height: 32px;
                  }
                }

                &:nth-of-type(4) {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  &::before {
                    content: url("../../images/icones/rastreador.svg");
                    height: 32px;
                  }
                }
              }
            }

            .btn {
              @include mobile_s {
                font-size: 14px;
              }

              @include mobile_m {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .magic-might {
      position: relative;
      color: $white;

      @include mobile_s {
        margin-block: 20px;
        color: $white;
        padding-bottom: 5px;
      }

      @include mobile_m {
        margin-block: 40px;
        color: $white;
        padding-bottom: 10px;
      }

      .black {
        width: 70%;
        position: absolute;
        right: 0;
        background: $chinese_black;
        height: 100%;
        z-index: 0;

        @include mobile_s {
          width: 100%;
          height: 80%;
          bottom: 0;
        }

        @include mobile_m {
          width: 100%;
          height: 80%;
          bottom: 0;
        }
      }

      .__width {
        .info-bike {
          .legend-02,
          p {
            color: $white;
          }
        }
      }
    }
  }
}
