.page-bike-intern {
  .gallery-description {
    background: $chinese_black;
    padding-bottom: 80px;

    @include mobile_s {
      padding: 40px 0;
    }

    @include mobile_m {
      padding: 40px 0;
    }

    @include mobile_l {
      padding: 40px 0;
    }

    .__width {
      display: flex;
      justify-content: space-between;

      @include mobile_s {
        flex-direction: column;
      }

      @include mobile_m {
        flex-direction: column;
      }

      @include mobile_l {
        flex-direction: column;
      }

      .gallery {
        width: 600px;

        @include mobile_s {
          width: 100%;
        }

        @include mobile_m {
          width: 100%;
        }

        @include mobile_l {
          width: 100%;
        }

        img {
          width: 100%;
          border-radius: 5px;
        }

        .principal {
          width: 600px;

          @include mobile_s {
            width: 100%;
          }

          @include mobile_m {
            width: 100%;
          }

          @include mobile_l {
            width: 100%;
          }
        }

        .select {
          margin-top: 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .item {
            width: 190px;

            @include mobile_s {
              width: 30%;
            }

            @include mobile_m {
              width: 30%;
            }

            @include mobile_l {
              width: 30%;
            }
          }
        }
      }

      .description {
        width: 510px;

        @include mobile_s {
          width: 100%;
        }

        @include mobile_m {
          width: 100%;
        }

        @include mobile_l {
          width: 100%;
        }

        p {
          @include text(
            $f_size: 24px,
            $l_height: 36px,
            $f_weight: 500,
            $color: $american_silver
          );

          @include mobile_s {
            font-size: 16px;
            line-height: 24px;
            margin-top: 20px;
          }

          @include mobile_m {
            font-size: 16px;
            line-height: 24px;
            margin-top: 20px;
          }

          @include mobile_l {
            font-size: 16px;
            line-height: 24px;
            margin-top: 20px;
          }
        }

        .components {
          display: flex;
          align-items: center;
          gap: 10px;
          margin: 28px 0 32px;

          @include mobile_s {
            width: 100%;
            flex-direction: column;
          }

          @include mobile_m {
            width: 100%;
            flex-direction: column;
          }

          @include mobile_l {
            width: 100%;
            flex-direction: column;
          }

          .info-utils {
            display: flex;
            flex-direction: column;
            gap: 2px;

            span {
              display: flex;
              align-items: center;
              gap: 8px;
              font-weight: 600;
              color: #999;
              background: $black;
              padding: 2px 8px;
              @include list($f_size: 14px, $l_height: 22px);

              &:nth-of-type(1) {
                &::before {
                  content: url("../../images/icones/entrega.svg");
                  height: 15px;
                }
              }

              &:nth-of-type(2) {
                &::before {
                  content: url("../../images/icones/estoque.svg");
                  height: 15px;
                }
              }
            }
          }

          .btn {
            @include mobile_s {
              font-size: 14px;
              line-height: 20px;
              text-align: center;
            }

            @include mobile_m {
              font-size: 14px;
              line-height: 20px;
              text-align: center;
            }

            @include mobile_l {
              font-size: 14px;
              line-height: 20px;
              text-align: center;
            }
          }
        }

        .information {
          width: 100%;

          .legend {
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 12px;

            @include title(
              $f_size: 28px,
              $l_height: 36px,
              $f_weight: 700,
              $color: $white
            );

            @include mobile_s {
              font-size: 20px;
              line-height: 32px;
              text-align: center;
            }

            @include mobile_m {
              font-size: 20px;
              line-height: 32px;
              text-align: center;
            }

            @include mobile_l {
              font-size: 20px;
              line-height: 32px;
              text-align: center;
            }
          }

          .box-info {
            padding: 32px 10px;
            background: $black;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 20px;
            column-gap: 20px;
            width: 100%;

            @include mobile_s {
              padding: 20px;
              display: flex;
              flex-direction: column;
            }

            @include mobile_m {
              padding: 20px;
              display: flex;
              flex-direction: column;
            }

            @include mobile_l {
              padding: 20px;
              display: flex;
              flex-direction: column;
            }

            .info {
              width: 100%;
              .legend {
                margin-bottom: 12px;
                display: flex;
                flex-direction: column;

                @include title(
                  $f_size: 18px,
                  $l_height: 24px,
                  $f_weight: 500,
                  $color: $white
                );

                &::before {
                  height: 32px;
                }
              }

              p {
                margin-top: 8px;

                @include text(
                  $f_size: 16px,
                  $l_height: 24px,
                  $f_weight: 500,
                  $color: $american_silver
                );
              }

              &:nth-of-type(1) {
                .legend {
                  &::before {
                    content: url("../../images/icones/eletrica.svg");
                  }
                }
              }

              &:nth-of-type(2) {
                .legend {
                  &::before {
                    content: url("../../images/icones/velocidade.svg");
                  }
                }
              }

              &:nth-of-type(3) {
                .legend {
                  &::before {
                    content: url("../../images/icones/carbono.svg");
                  }
                }
              }

              &:nth-of-type(4) {
                .legend {
                  &::before {
                    content: url("../../images/icones/rastreador.svg");
                  }
                }
              }
            }
          }
        }

        .datasheet {
          margin-top: 32px;
          .legend {
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 12px;

            @include title(
              $f_size: 28px,
              $l_height: 36px,
              $f_weight: 700,
              $color: $white
            );

            @include mobile_s {
              font-size: 20px;
              line-height: 32px;
              text-align: center;
            }

            @include mobile_m {
              font-size: 20px;
              line-height: 32px;
              text-align: center;
            }

            @include mobile_l {
              font-size: 20px;
              line-height: 32px;
              text-align: center;
            }
          }

          ul {
            background: $black;
            border-radius: 5px;
            list-style: none;
            width: 100%;
            padding: 32px;

            @include mobile_s {
              padding: 20px;
            }

            @include mobile_m {
              padding: 20px;
            }

            @include mobile_l {
              padding: 20px;
            }

            li {
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid $charleston_green;
              padding: 8px 0;

              @include text(
                $f_size: 20px,
                $l_height: 28px,
                $f_weight: 500,
                $color: $white
              );

              @include mobile_s {
                font-size: 16px;
                line-height: 24px;
              }

              @include mobile_m {
                font-size: 16px;
                line-height: 24px;
              }

              @include mobile_l {
                font-size: 16px;
                line-height: 24px;
              }

              &:first-child {
                padding-top: 0;
              }

              &:last-child {
                border: none;
                padding-bottom: 0;
              }
              span {
                &:nth-of-type(1) {
                  color: $white;
                }

                &:nth-of-type(2) {
                  color: $spanish_gray;
                }
              }
            }
          }
        }
      }
    }
  }

  .see-too {
    padding: 80px 0 140px;

    @include mobile_s {
      padding: 40px 0;
    }

    @include mobile_m {
      padding: 40px 0;
    }

    @include mobile_l {
      padding: 40px 0;
    }

    .titles-sec {
      text-align: center;
    }

    .box-bike {
      display: flex;
      gap: 20px;
      width: 100%;
      justify-content: space-between;
      margin-top: 40px;

      .card {
        width: 515px;
        border-radius: 5px;
        padding-bottom: 5px;

        &:hover {
          background: #f8f7f7;
        }

        img {
          width: 100%;
          border-radius: 5px;
        }

        .info-bike {
          display: flex;
          flex-direction: column;
          gap: 2px;
          position: relative;
          margin-top: 12px;
          padding-left: 30px;

          .legend {
            @include title(
              $f_size: 20px,
              $l_height: 28px,
              $f_weight: 700,
              $color: $black
            );
          }

          .price {
            @include text(
              $f_size: 16px,
              $l_height: 24px,
              $f_weight: 500,
              $color: $gray
            );
          }

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            width: 18px;
            height: 8px;
            background: $selective_yellow;
          }
        }
      }
    }
  }

  .insurance {
    position: relative;

    img {
      position: absolute;
      z-index: 1;
      left: 5%;
      transform: translateX(-5%);
      bottom: 0;
      width: 500px;
      height: 600px;
      border-radius: 5px;

      @include mobile_s {
        display: none;
      }

      @include mobile_m {
        display: none;
      }

      @include mobile_l {
        display: none;
      }
    }

    .box-content {
      background: $chinese_black;
      padding: 32px;

      @include mobile_s {
        padding: 20px 0;
      }

      @include mobile_m {
        padding: 20px 0;
      }

      @include mobile_l {
        padding: 20px 0;
      }

      .__width {
        display: flex;
        justify-content: flex-end;

        .content {
          width: 600px;

          @include mobile_s {
            width: 100%;
          }

          @include mobile_m {
            width: 100%;
          }

          @include mobile_l {
            width: 100%;
          }

          .titles-sec {
            color: $white;

            @include mobile_s {
              font-size: 20px;
              line-height: 28px;
            }

            @include mobile_m {
              font-size: 20px;
              line-height: 28px;
            }

            @include mobile_l {
              font-size: 20px;
              line-height: 28px;
            }
          }

          p {
            margin-block: 20px;

            @include text(
              $f_size: 24px,
              $l_height: 32px,
              $f_weight: 500,
              $color: $american_silver
            );

            @include mobile_s {
              font-size: 16px;
              line-height: 24px;
            }

            @include mobile_m {
              font-size: 16px;
              line-height: 24px;
            }

            @include mobile_l {
              font-size: 16px;
              line-height: 24px;
            }
          }

          .btn {
            @include mobile_s {
              width: 100%;
              text-align: center;
            }

            @include mobile_m {
              width: 100%;
              text-align: center;
            }

            @include mobile_l {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }

    .back-black {
      height: 50px;
      width: 100%;
      background: $black;

      @include mobile_s {
        display: none;
      }

      @include mobile_m {
        display: none;
      }

      @include mobile_l {
        display: none;
      }
    }
  }
}
