.page-budget {
  background: #efebeb;

  .option-budget {
    position: relative;
    padding-bottom: 80px;

    @include mobile_s {
      padding-bottom: 40px;
    }

    @include mobile_m {
      padding-bottom: 40px;
    }

    @include mobile_l {
      padding-bottom: 40px;
    }

    .back-black {
      height: 70%;
      background: $chinese_black;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    .__width {
      .form-budget {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;

        @include mobile_s {
          display: flex;
          width: 100%;
          flex-direction: column;
        }

        @include mobile_m {
          display: flex;
          width: 100%;
          flex-direction: column;
        }

        @include mobile_l {
          display: flex;
          width: 100%;
          flex-direction: column;
        }

        .products {
          padding: 45px;
          width: 100%;
          background: $black;
          border-radius: 5px 0 0 5px;
          box-shadow: -2px 5px 14px 0px rgba(0, 0, 0, 0.49);
          display: flex;
          flex-direction: column;

          @include mobile_s {
            padding: 20px;
          }

          @include mobile_m {
            padding: 20px;
          }

          @include mobile_l {
            padding: 20px;
          }

          input[type="radio"] {
            opacity: 0;
            position: absolute;
            pointer-events: none;

            &:checked + label::before {
              border-color: #3d3d3d;
              box-shadow: inset 0 0 0 3px $white, inset 0 0 0 6px #3d3d3d;
            }
          }

          .legend {
            @include title(
              $f_size: 18px,
              $l_height: 24px,
              $f_weight: 500,
              $color: $silver_sand
            );
            text-transform: uppercase;
            letter-spacing: 2px;
            display: flex;
            align-items: center;
            gap: 8px;

            &::before {
              content: "";
              width: 15px;
              height: 5px;
              background: $selective_yellow;
              border-radius: 5px;
            }
          }

          label {
            @include title(
              $f_size: 16px,
              $l_height: 24px,
              $f_weight: 600,
              $color: $white
            );
            background: #3d3d3d;
            padding: 12px 24px;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid $black;

            &::before {
              content: "";
              border: 1px solid $white;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              margin-right: 8px;
              display: inline-block;
              box-sizing: border-box;
            }

            &:hover {
              background: #535353;
              transition: 0.7s ease;
            }
          }

          .select {
            margin-top: 40px;

            @include mobile_s {
              margin-top: 20px;
              display: flex;
              flex-direction: column;
              gap: 10px;
            }

            @include mobile_m {
              margin-top: 20px;
              display: flex;
              flex-direction: column;
              gap: 10px;
            }

            @include mobile_l {
              margin-top: 20px;
              display: flex;
              flex-direction: column;
              gap: 10px;
            }

            #bikcraft:checked + label,
            #insurance:checked + label {
              background: $white;
              color: $black;
              border: 1px solid $selective_yellow;
            }

            #bikcraft:checked ~ .product .bikcraft,
            #insurance:checked ~ .product .insurance {
              display: block;
            }

            #insurance:checked ~ .product .insurance {
              @include mobile_s {
                display: flex;
                flex-direction: column;
                gap: 10px;
              }

              @include mobile_m {
                display: flex;
                flex-direction: column;
                gap: 10px;
              }

              @include mobile_l {
                display: flex;
                flex-direction: column;
                gap: 10px;
              }

              label {
                @include mobile_s {
                  width: 70%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0 auto;
                }

                @include mobile_m {
                  width: 70%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0 auto;
                }

                @include mobile_l {
                  width: 70%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0 auto;
                }
              }
            }
          }

          .product {
            margin-top: 60px;
            display: block;

            @include mobile_s {
              margin-top: 20px;
            }

            @include mobile_m {
              margin-top: 20px;
            }

            @include mobile_l {
              margin-top: 20px;
            }

            label {
              display: block;
              height: fit-content;
            }
            .bikcraft,
            .insurance {
              display: none;
            }

            .bikcraft {
              label {
                width: 350px;
                border-bottom: 0;

                @include mobile_s {
                  width: 100%;
                }

                @include mobile_m {
                  width: 100%;
                }

                @include mobile_l {
                  width: 100%;
                }
              }

              .legend {
                margin-bottom: 20px;
              }

              .bike {
                &:nth-of-type(2) {
                  margin-block: 12px;
                }

                span {
                  color: $white;
                  text-align: right;
                }

                label {
                  display: grid;
                  grid-template-columns: auto 1fr auto;
                  align-items: center;
                  span {
                    display: none;
                    color: #3d3d3d;
                  }
                }

                .content {
                  border: 1px solid $black;
                  border-top: 0;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  background: $white;
                  width: 350px;
                  padding: 12px;
                  border-radius: 0 0 5px 5px;
                  display: none;

                  @include mobile_s {
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                  }

                  @include mobile_m {
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                  }

                  @include mobile_l {
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                  }

                  ul {
                    list-style: none;
                    padding-left: 30px;

                    @include mobile_s {
                      padding: 0;
                    }

                    @include mobile_m {
                      padding: 0;
                    }

                    @include mobile_l {
                      padding: 0;
                    }

                    li {
                      display: flex;
                      align-items: center;
                      gap: 8px;
                      margin-top: 8px;

                      @include mobile_s {
                        margin-top: 0px;
                      }

                      @include mobile_m {
                        margin-top: 0px;
                      }

                      @include mobile_l {
                        margin-top: 0px;
                      }

                      &:first-child {
                        margin-top: 0;
                      }

                      img {
                        width: 22px;
                      }

                      span {
                        @include title(
                          $f_size: 14px,
                          $l_height: 20px,
                          $f_weight: 500,
                          $color: $black
                        );
                      }
                    }
                  }

                  .bk {
                    width: 100px;
                    border-radius: 5px;

                    @include mobile_s {
                      margin: 0 auto;
                      width: 150px;
                    }

                    @include mobile_m {
                      margin: 0 auto;
                      width: 150px;
                    }

                    @include mobile_l {
                      margin: 0 auto;
                      width: 150px;
                    }
                  }
                }

                #nimbus:checked + label,
                #magic:checked + label,
                #nebula:checked + label {
                  border-radius: 5px 5px 0 0;
                  background: $white;
                  border: 1px solid $selective_yellow;
                  border-bottom: 0;
                  color: #3d3d3d;

                  span {
                    display: block;
                  }
                }

                #nimbus:checked + label + .content,
                #magic:checked + label + .content,
                #nebula:checked + label + .content {
                  display: flex;
                  border: 1px solid $selective_yellow;
                  border-top: 0;
                }
              }
            }

            .insurance {
              label {
                width: 115px;
                border: 1px solid $black;
              }

              .legend {
                margin-bottom: 20px;
              }

              .insu {
                display: inline-flex;

                #silver:checked + label,
                #gold:checked + label {
                  background: $white;
                  color: $black;
                  border-color: $selective_yellow;
                }
              }
            }
          }
        }

        .data-user {
          padding: 40px;
          background: $white;
          border-radius: 0 5px 5px 0;
          box-shadow: 2px 5px 14px 0px rgba(0, 0, 0, 0.49);

          @include mobile_s {
            padding: 20px;
            border-radius: 0 0px 5px 5px;
          }

          @include mobile_m {
            padding: 20px;
            border-radius: 0 0px 5px 5px;
          }

          @include mobile_l {
            padding: 20px;
            border-radius: 0 0px 5px 5px;
          }

          label {
            @include roboto-03($f_size: 18px, $l_height: 28px);
            font-weight: 600;

            @include mobile_s {
              font-size: 16px;
              line-height: 24px;
            }

            @include mobile_m {
              font-size: 16px;
              line-height: 24px;
            }

            @include mobile_l {
              font-size: 16px;
              line-height: 24px;
            }
          }

          input {
            height: 50px;
            background: $american_silver;
            border-radius: 5px;
            border: none;
            padding: 16px;
            font-weight: 600;
            @include roboto-03($f_size: 16px, $l_height: 24px);

            @include mobile_s {
              font-size: 14px;
              line-height: 20px;
              height: 40px;
            }

            @include mobile_m {
              height: 40px;
              font-size: 14px;
              line-height: 20px;
            }

            @include mobile_l {
              height: 40px;
              font-size: 14px;
              line-height: 20px;
            }
          }

          .data-person {
            .fullname {
              width: 100%;
              display: flex;
              justify-content: space-between;
              gap: 20px;
              margin-bottom: 20px;

              @include mobile_s {
                flex-direction: column;
                justify-content: start;
              }

              @include mobile_m {
                flex-direction: column;
                justify-content: start;
              }

              @include mobile_l {
                flex-direction: column;
                justify-content: start;
              }

              .name,
              .last_name {
                display: flex;
                flex-direction: column;
                gap: 8px;
              }

              input {
                width: 300px;

                @include mobile_s {
                  width: 100%;
                }

                @include mobile_m {
                  width: 100%;
                }

                @include mobile_l {
                  width: 100%;
                }
              }
            }

            .email,
            .cpf,
            .message {
              display: flex;
              flex-direction: column;
              gap: 8px;
            }

            .cpf {
              margin-bottom: 20px;
            }
          }

          .data-delivery {
            width: 100%;
            margin: 40px 0;

            @include mobile_s {
              margin: 20px 0;
            }

            @include mobile_m {
              margin: 20px 0;
            }

            @include mobile_l {
              margin: 20px 0;
            }

            input {
              width: 300px;

              @include mobile_s {
                width: 100%;
              }

              @include mobile_m {
                width: 100%;
              }

              @include mobile_l {
                width: 100%;
              }
            }
            .box {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;

              @include mobile_s {
                flex-direction: column;
                gap: 20px;
              }

              @include mobile_m {
                flex-direction: column;
                gap: 20px;
              }

              @include mobile_l {
                flex-direction: column;
                gap: 20px;
              }

              &:first-child {
                margin-top: 0;
              }

              .field {
                display: flex;
                flex-direction: column;
                gap: 8px;
              }
            }
          }

          input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            pointer-events: none;

            &:checked + label::before {
              border-radius: 5px;
              background: #3d3d3d;
              border: 2px solid $selective_yellow;
            }
          }

          .term {
            @include text(
              $f_size: 18px,
              $l_height: 28px,
              $f_weight: 500,
              $color: $black
            );

            @include mobile_s {
              font-size: 16px;
              line-height: 24px;
            }

            @include mobile_m {
              font-size: 16px;
              line-height: 24px;
            }

            @include mobile_l {
              font-size: 16px;
              line-height: 24px;
            }

            a {
              color: $selective_yellow;
              font-weight: 700;

              &:hover {
                text-decoration: underline;
              }
            }

            &::before {
              content: "";
              width: 24px;
              height: 24px;
              box-sizing: border-box;
              border-radius: 5px;
              border: 1px solid $black;
              display: inline-block;
              position: relative;
              top: 5px;
              margin-right: 5px;
            }
          }

          // #term:checked + label {
          //   &::before {
          //     background: $black;
          //   }
          // // }

          .btn {
            background: $chinese_gold;
            margin-top: 40px;

            @include mobile_s {
              width: 100%;
              margin-top: 20px;
            }

            @include mobile_m {
              width: 100%;
              margin-top: 20px;
            }

            @include mobile_l {
              width: 100%;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
