.page-budget {
  background: #efebeb;

  .option-budget {
    position: relative;
    padding-bottom: 80px;

    .back-black {
      height: 70%;
      background: $chinese_black;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    .__width {
      display: flex;

      .option-prod {
        padding: 45px 40px;
        background: $black;
        border-radius: 5px 0 0 5px;
        box-shadow: -2px 5px 14px 0px rgba(0, 0, 0, 0.49);

        .legend {
          @include legend-02($f_size: 18px, $l_height: 24px);
          color: $silver_sand;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 2px;
          display: flex;
          align-items: center;
          gap: 8px;

          &::before {
            content: "";
            width: 15px;
            height: 5px;
            background: $selective_yellow;
            border-radius: 5px;
          }
        }

        a {
          @include roboto-03($f_size: 18px, $l_height: 28px);
          color: $spanish_gray;
          font-weight: 500;
          display: block;
        }

        .street {
          margin: 35px 0 20px;
          width: 150px;
          display: flex;
          gap: 8px;
          position: relative;
          margin-left: 30px;

          &::before {
            content: url("../../images/icones/local.svg");
            height: 32px;
            margin-top: 2px;
            position: absolute;
            right: 160px;
            top: 5px;
          }
        }

        .email {
          display: flex;
          flex-direction: column;
          gap: 8px;
          position: relative;
          margin-left: 30px;

          &::before {
            content: url("../../images/icones/email.svg");
            height: 32px;
            margin-top: 2px;
            position: absolute;
            right: 230px;
            top: 5px;
          }
        }

        .phone {
          margin: 20px 0 24px;
          position: relative;
          margin-left: 30px;

          &::before {
            content: url("../../images/icones/telefone.svg");
            height: 32px;
            margin-top: 2px;
            position: absolute;
            right: 230px;
            top: 3px;
          }
        }

        .social-media {
          display: flex;
          gap: 30px;
        }
      }

      .form-budget {
        padding: 45px 40px;
        background: $white;
        width: 700px;
        border-radius: 0 5px 5px 0;
        box-shadow: 2px 5px 14px 0px rgba(0, 0, 0, 0.49);

        form {
          width: 100%;

          label {
            @include roboto-03($f_size: 18px, $l_height: 28px);
            font-weight: 600;
          }

          input {
            height: 50px;
            background: $american_silver;
            border-radius: 5px;
            border: none;
            padding: 16px;
            font-weight: 600;
            @include roboto-03($f_size: 16px, $l_height: 24px);
          }

          .data-person {
            .fullname {
              width: 100%;
              display: flex;
              justify-content: space-between;
              gap: 20px;
              margin-bottom: 20px;

              .name,
              .last_name {
                display: flex;
                flex-direction: column;
                gap: 8px;
              }

              input {
                width: 300px;
              }
            }

            .email,
            .cpf,
            .message {
              display: flex;
              flex-direction: column;
              gap: 8px;
            }

            .cpf {
              margin-bottom: 20px;
            }
          }

          .data-delivery {
            width: 100%;
            margin: 40px 0;
            input {
              width: 300px;
            }
            .box {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;

              &:first-child {
                margin-top: 0;
              }

              .field {
                display: flex;
                flex-direction: column;
                gap: 8px;
              }
            }
          }

          .btn {
            background: $chinese_gold;
          }
        }
      }
    }
  }
}
