.page-contact {
  background: #efebeb;

  .sec-contact {
    position: relative;

    .back-black {
      height: 70%;
      background: $chinese_black;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;

      @include mobile_s {
        top: 370px;
      }

      @include mobile_m {
        top: 370px;
      }

      @include mobile_l {
        top: 370px;
      }
    }

    .__width {
      display: flex;
      padding: 45px 40px;

      @include mobile_s {
        padding: 20px 15px 0;
        flex-direction: column-reverse;
      }

      @include mobile_m {
        padding: 20px 15px 0;
        flex-direction: column-reverse;
      }

      @include mobile_l {
        padding: 20px 15px 0;
        flex-direction: column-reverse;
      }

      .info-cont {
        padding: 45px 135px 45px 40px;
        background: $black;
        border-radius: 5px 0 0 5px;
        box-shadow: -2px 5px 14px 0px rgba(0, 0, 0, 0.49);

        @include mobile_s {
          padding: 20px;
          width: 100%;
        }

        @include mobile_m {
          padding: 20px;
          width: 100%;
        }

        @include mobile_l {
          padding: 20px;
          width: 100%;
        }

        .legend {
          @include title(
            $f_size: 20px,
            $l_height: 28px,
            $f_weight: 700,
            $color: $white
          );

          @include mobile_s {
            text-align: center;
          }

          @include mobile_m {
            text-align: center;
          }

          @include mobile_l {
            text-align: center;
          }
        }

        a {
          display: block;
          @include text(
            $f_size: 18px,
            $l_height: 28px,
            $f_weight: 500,
            $color: $spanish_gray
          );
        }

        .street {
          margin: 35px 0 20px;
          width: 150px;
          display: flex;
          gap: 8px;
          position: relative;
          margin-left: 30px;

          @include mobile_s {
            width: 100%;
            text-align: center;
            margin: 20px 0 10px;
            flex-direction: column;
            gap: 0;
          }

          @include mobile_m {
            width: 100%;
            text-align: center;
            margin: 20px 0 10px;
            flex-direction: column;
            gap: 0;
          }

          @include mobile_l {
            width: 100%;
            text-align: center;
            margin: 20px 0 10px;
            flex-direction: column;
            gap: 0;
          }

          &::before {
            content: url("../../images/icones/local.svg");
            height: 32px;
            margin-top: 2px;
            position: absolute;
            right: 160px;
            top: 5px;

            @include mobile_s {
              position: static;
            }

            @include mobile_m {
              position: static;
            }

            @include mobile_l {
              position: static;
            }
          }
        }

        .email {
          display: flex;
          flex-direction: column;
          gap: 8px;
          position: relative;
          margin-left: 30px;

          @include mobile_s {
            gap: 0;
            margin: 0;
            align-items: center;
            margin-top: 30px;
          }

          @include mobile_m {
            gap: 0;
            margin: 0;
            align-items: center;
            margin-top: 30px;
          }

          @include mobile_l {
            gap: 0;
            margin: 0;
            align-items: center;
            margin-top: 30px;
          }

          &::before {
            content: url("../../images/icones/email.svg");
            height: 32px;
            margin-top: 2px;
            position: absolute;
            right: 230px;
            top: 5px;

            @include mobile_s {
              position: static;
              margin: 0;
            }

            @include mobile_m {
              position: static;
              margin: 0;
            }

            @include mobile_l {
              position: static;
              margin: 0;
            }
          }
        }

        .phone {
          margin: 20px 0 24px;
          position: relative;
          margin-left: 30px;

          @include mobile_s {
            margin: 20px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          @include mobile_m {
            margin: 20px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          @include mobile_l {
            margin: 20px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          &::before {
            content: url("../../images/icones/telefone.svg");
            height: 32px;
            margin-top: 2px;
            position: absolute;
            right: 230px;
            top: 3px;

            @include mobile_s {
              position: static;
            }

            @include mobile_m {
              position: static;
            }

            @include mobile_l {
              position: static;
            }
          }
        }

        .social-media {
          display: flex;
          gap: 30px;

          @include mobile_s {
            margin: 30px auto 0;
            justify-content: center;
          }

          @include mobile_m {
            margin: 30px auto 0;
            justify-content: center;
          }

          @include mobile_l {
            margin: 30px auto 0;
            justify-content: center;
          }
        }
      }

      .form-cont {
        padding: 45px 40px;
        background: $white;
        width: 700px;
        border-radius: 0 5px 5px 0;
        box-shadow: 2px 5px 14px 0px rgba(0, 0, 0, 0.49);

        @include mobile_s {
          padding: 20px;
          width: 100%;
        }

        @include mobile_m {
          padding: 20px;
          width: 100%;
        }

        @include mobile_l {
          padding: 20px;
          width: 100%;
        }

        form {
          width: 100%;

          label {
            @include text(
              $f_size: 18px,
              $l_height: 28px,
              $f_weight: 600,
              $color: $black
            );
          }

          input {
            height: 50px;
          }

          input,
          textarea {
            background: $american_silver;
            border-radius: 5px;
            border: none;
            padding: 16px;

            @include text(
              $f_size: 16px,
              $l_height: 24px,
              $f_weight: 600,
              $color: $black
            );
          }

          textarea {
            resize: none;
            height: 200px;
          }

          .name-tel {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 20px;

            @include mobile_s {
              flex-direction: column;
            }

            @include mobile_m {
              flex-direction: column;
            }

            @include mobile_l {
              flex-direction: column;
            }

            .name,
            .tel {
              display: flex;
              flex-direction: column;
              gap: 8px;
            }

            input {
              width: 300px;

              @include mobile_s {
                width: 100%;
              }

              @include mobile_m {
                width: 100%;
              }

              @include mobile_l {
                width: 100%;
              }
            }
          }

          .email,
          .message {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }

          .message {
            margin: 20px 0 28px;
          }

          .btn {
            background: $chinese_gold;

            @include mobile_s {
              width: 100%;
            }

            @include mobile_m {
              width: 100%;
            }

            @include mobile_l {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .our-store {
    padding: 80px 0;

    @include mobile_s {
      padding: 60px 0 40px;
    }

    @include mobile_m {
      padding: 60px 0 40px;
    }

    @include mobile_l {
      padding: 60px 0 40px;
    }

    .titles-sec {
      @include mobile_s {
        text-align: center;
      }

      @include mobile_m {
        text-align: center;
      }

      @include mobile_l {
        text-align: center;
      }
    }

    .box-store {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include mobile_s {
        margin-top: 20px;
        gap: 20px;
      }

      @include mobile_m {
        margin-top: 20px;
        gap: 20px;
      }

      @include mobile_l {
        margin-top: 20px;
        gap: 20px;
      }

      .card-store {
        width: 580px;
        background: $white;
        padding-bottom: 40px;
        border-radius: 5px;

        @include mobile_s {
          width: 100%;
        }

        @include mobile_m {
          width: 100%;
        }

        @include mobile_l {
          width: 100%;
        }

        .img {
          width: 100%;
          height: 200px;

          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 5px 5px 0 0;
          }
        }

        .infos {
          padding: 40px 0 0 20px;

          .legend {
            @include legend-02($f_size: 32px, $l_height: 44px);
            display: flex;
            align-items: center;
            gap: 8px;

            &::before {
              content: "";
              width: 15px;
              height: 5px;
              background: $selective_yellow;
            }
          }

          .info {
            display: flex;
            gap: 40px;
            padding-left: 20px;
            margin: 20px 0 60px;

            @include mobile_s {
              flex-direction: column;
              margin-bottom: 30px;
              gap: 20px;
            }

            @include mobile_m {
              flex-direction: column;
              margin-bottom: 30px;
              gap: 20px;
            }

            @include mobile_l {
              flex-direction: column;
              margin-bottom: 30px;
              gap: 20px;
            }

            a {
              @include text(
                $f_size: 18px,
                $l_height: 28px,
                $f_weight: 500,
                $color: $davys_gray
              );
            }

            .end {
              border-left: 2px solid $silver_sand;
              padding-left: 20px;
            }

            .contact {
              display: flex;
              flex-direction: column;
              padding-left: 20px;
              border-left: 2px solid $silver_sand;
            }
          }

          .hours {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-left: 8px;

            @include title(
              $f_size: 20px,
              $l_height: 28px,
              $f_weight: 600,
              $color: $black
            );

            @include mobile_s {
              margin-left: 0;
            }

            @include mobile_m {
              margin-left: 0;
            }

            @include mobile_l {
              margin-left: 0;
            }

            &::before {
              content: url("../../images/icones/horario.svg");
              height: 22px;
            }
          }
        }
      }
    }
  }
}
