.page-index {
  .subheader {
    background: $black;
    padding: 80px 0;

    @include mobile_s {
      padding: 20px 0 40px;
      text-align: center;
    }

    @include mobile_m {
      padding: 40px 0;
      text-align: center;
    }

    @include mobile_l {
      padding: 40px 0;
      text-align: center;
    }

    h1 {
      @include title-h1;
      color: $white;

      span {
        color: $selective_yellow;
      }
    }

    p {
      @include text(
        $f_size: 20px,
        $l_height: 28px,
        $f_weight: 500,
        $color: $american_silver
      );

      @include mobile_s {
        font-size: 16px;
        line-height: 24px;
      }

      @include mobile_m {
        font-size: 16px;
        line-height: 24px;
      }

      @include mobile_l {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .__width {
      display: flex;
      justify-content: space-between;

      .content {
        width: 600px;

        @include mobile_s {
          width: 100%;
        }

        @include mobile_m {
          width: 100%;
        }

        @include mobile_l {
          width: 100%;
        }

        p {
          width: 530px;
          margin: 28px 0 40px;

          @include mobile_s {
            width: 100%;
            margin: 16px 0 20px;
          }

          @include mobile_m {
            width: 100%;
            margin: 16px 0 20px;
          }

          @include mobile_l {
            width: 100%;
            margin: 16px 0 20px;
          }
        }
      }

      img {
        width: 500px;
        height: 600px;
        position: absolute;
        top: -80px;
        right: 0;
        border-radius: 5px;

        @include mobile_s {
          width: 90%;
          height: auto;
          display: none;
        }

        @include mobile_m {
          width: 90%;
          height: auto;
          display: none;
        }

        @include mobile_l {
          width: 90%;
          height: auto;
          display: none;
        }
      }
    }

    .btn {
      @include mobile_s {
        margin: 0 auto;
        width: 100%;
      }

      @include mobile_m {
        margin: 0 auto;
      }

      @include mobile_l {
        margin: 0 auto;
      }
    }
  }

  .prod-bikes {
    width: 100%;
    padding: 140px 5% 80px;

    @include mobile_s {
      padding: 20px 0;
    }

    @include mobile_m {
      padding: 20px 0;
    }

    @include mobile_l {
      padding: 20px 0;
    }

    h2 {
      @include mobile_s {
        text-align: center;
      }

      @include mobile_m {
        text-align: center;
      }

      @include mobile_l {
        text-align: center;
      }

      span {
        color: $selective_yellow;
      }
    }

    .prods {
      @include mobile_s {
        overflow-x: auto;
      }

      @include mobile_m {
        overflow-x: auto;
      }

      @include mobile_l {
        overflow-x: auto;
      }
    }

    .bikes {
      display: flex;
      gap: 20px;
      width: 100%;
      justify-content: space-between;
      margin-top: 72px;

      @include mobile_s {
        width: 610px;
        padding: 0 10px;
        margin-top: 20px;
        gap: 0;
        height: 290px;
      }

      @include mobile_m {
        width: 630px;
        padding: 0 10px;
        margin-top: 20px;
        gap: 0;
        height: 290px;
      }

      @include mobile_l {
        width: 700px;
        padding: 0 10px;
        margin-top: 20px;
        gap: 0;
        height: 320px;
      }

      .card {
        width: 515px;
        padding-bottom: 5px;

        @include mobile_s {
          width: 190px;
          height: 286px;
        }

        @include mobile_m {
          width: 190px;
          height: 286px;
        }

        @include mobile_l {
          width: 220px;
          height: 310px;
        }

        &:hover {
          background: #f8f7f7;
        }

        img {
          width: 100%;
          border-radius: 5px;
        }

        .info-bike {
          display: flex;
          flex-direction: column;
          gap: 2px;
          position: relative;
          margin-top: 12px;
          padding-left: 30px;

          .legend {
            @include poppins-01;
            color: $black;
            font-weight: 700;
          }

          .price {
            @include roboto-02;
            line-height: 20px;
            color: $gray;
            font-weight: 500;
          }

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            width: 18px;
            height: 8px;
            background: $selective_yellow;
          }
        }
      }
    }
  }

  .diferentials {
    background: $chinese_black;
    padding: 48px 0;

    .legend {
      @include text(
        $f_size: 20px,
        $l_height: 28px,
        $f_weight: 500,
        $color: $gray
      );
      text-transform: uppercase;

      @include mobile_s {
        font-size: 16px;
        line-height: 24px;
      }

      @include mobile_m {
        font-size: 16px;
        line-height: 24px;
      }

      @include mobile_l {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .titles-sec {
      color: $white;
    }

    .content {
      display: flex;
      justify-content: space-between;

      @include mobile_s {
        flex-direction: column;
      }

      @include mobile_m {
        flex-direction: column;
      }

      @include mobile_l {
        flex-direction: column;
      }

      .description {
        width: 600px;

        @include mobile_s {
          width: 100%;
          text-align: center;
        }

        @include mobile_m {
          width: 100%;
          text-align: center;
        }

        @include mobile_l {
          width: 100%;
          text-align: center;
        }

        p {
          @include text(
            $f_size: 20px,
            $l_height: 28px,
            $f_weight: 500,
            $color: $white
          );

          margin: 44px 0 20px;
          width: 550px;

          @include mobile_s {
            font-size: 16px;
            line-height: 24px;
            margin: 20px 0;
            width: 100%;
          }

          @include mobile_m {
            font-size: 16px;
            line-height: 24px;
            margin: 20px 0;
            width: 100%;
          }

          @include mobile_l {
            font-size: 16px;
            line-height: 24px;
            margin: 20px 0;
            width: 100%;
          }
        }

        a {
          @include font-poppins;
          text-transform: uppercase;
          color: $selective_yellow;
          font-weight: 500;
          position: relative;

          &::after {
            position: absolute;
            width: 0%;
            top: 20px;
            left: 0;
            height: 2px;
            background: $selective_yellow;
            content: "";
          }

          &:hover {
            &::after {
              width: 100%;
              transition: all 0.7s linear;
            }
          }
        }
      }

      .technology {
        color: $white;
        width: 400px;
        margin-top: 50px;

        @include mobile_s {
          width: 100%;
          text-align: center;
        }

        @include mobile_m {
          width: 100%;
          text-align: center;
        }

        @include mobile_l {
          width: 100%;
          text-align: center;
        }

        span {
          text-transform: uppercase;

          @include title(
            $f_size: 24px,
            $l_height: 28px,
            $f_weight: 700,
            $color: $white
          );

          @include mobile_s {
            font-size: 20px;
            line-height: 28px;
          }

          @include mobile_m {
            font-size: 20px;
            line-height: 28px;
          }

          @include mobile_l {
            font-size: 20px;
            line-height: 28px;
          }
        }

        p {
          @include text(
            $f_size: 16px,
            $l_height: 24px,
            $f_weight: 500,
            $color: $white
          );
        }

        .electric {
          span {
            position: relative;
            &::before {
              content: url("../../images/icones/eletrica.svg");
              position: absolute;
              right: 220px;
              top: 0;

              @include mobile_s {
                position: static;
              }

              @include mobile_m {
                position: static;
              }

              @include mobile_l {
                position: static;
              }
            }

            @include mobile_s {
              position: static;
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            @include mobile_m {
              position: static;
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            @include mobile_l {
              position: static;
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
          p {
            margin: 16px 0 32px;

            @include mobile_s {
              margin: 10px 0 25px;
            }

            @include mobile_m {
              margin: 10px 0 25px;
            }

            @include mobile_l {
              margin: 10px 0 25px;
            }
          }
        }

        .tracker {
          span {
            position: relative;
            &::before {
              content: url("../../images/icones/rastreador.svg");
              position: absolute;
              right: 175px;
              top: 0;

              @include mobile_s {
                position: static;
              }

              @include mobile_m {
                position: static;
              }

              @include mobile_l {
                position: static;
              }
            }

            @include mobile_s {
              position: static;
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            @include mobile_m {
              position: static;
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            @include mobile_l {
              position: static;
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
          p {
            margin-top: 16px;

            @include mobile_s {
              margin-top: 10px;
            }

            @include mobile_m {
              margin-top: 10px;
            }

            @include mobile_l {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  .partness {
    padding: 80px 0;

    @include mobile_s {
      padding: 20px 0;
    }

    @include mobile_m {
      padding: 20px 0;
    }

    @include mobile_l {
      padding: 20px 0;
    }

    .titles-sec {
      margin-bottom: 44px;

      @include mobile_s {
        text-align: center;
        margin-bottom: 20px;
      }

      @include mobile_m {
        text-align: center;
        margin-bottom: 20px;
      }

      @include mobile_l {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    ul {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @include mobile_s {
        display: flex;
        flex-direction: column;
      }

      @include mobile_m {
        display: flex;
        flex-direction: column;
      }

      @include mobile_l {
        display: flex;
        flex-direction: column;
      }

      li {
        display: flex;
        border-left: 1px solid $silver_sand;
        padding: 20px 0;

        @include mobile_s {
          border-left: 0;
          border-bottom: 1px solid $silver_sand;
        }

        @include mobile_m {
          border-left: 0;
          border-bottom: 1px solid $silver_sand;
        }

        @include mobile_l {
          border-left: 0;
          border-bottom: 1px solid $silver_sand;
        }

        &:nth-child(1),
        &:nth-child(5) {
          border: 0;
        }

        &:nth-child(n + 5) {
          border-top: 1px solid $silver_sand;

          @include mobile_s {
            border-top: 0;
            border-bottom: 1px solid $silver_sand;
          }

          @include mobile_m {
            border-top: 0;
            border-bottom: 1px solid $silver_sand;
          }

          @include mobile_l {
            border-top: 0;
            border-bottom: 1px solid $silver_sand;
          }
        }

        &:nth-child(1) {
          @include mobile_s {
            border-bottom: 1px solid $silver_sand;
          }

          @include mobile_m {
            border-bottom: 1px solid $silver_sand;
          }

          @include mobile_l {
            border-bottom: 1px solid $silver_sand;
          }
        }

        &:last-child {
          @include mobile_s {
            border-bottom: 0;
          }

          @include mobile_m {
            border-bottom: 0;
          }

          @include mobile_l {
            border-bottom: 0;
          }
        }

        img {
          margin: auto;
        }
      }
    }
  }

  .comments {
    background: $selective_yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile_s {
      flex-direction: column;
      padding-bottom: 30px;
    }

    @include mobile_m {
      flex-direction: column;
      padding-bottom: 30px;
    }

    @include mobile_l {
      flex-direction: column;
      padding-bottom: 30px;
    }

    .box-img {
      height: 70vh;

      @include mobile_s {
        height: 40vh;
        padding: 5px 5px 0 5px;
      }

      @include mobile_m {
        height: 40vh;
        padding: 5px 5px 0 5px;
      }

      @include mobile_l {
        height: 40vh;
        padding: 5px 5px 0 5px;
      }

      img {
        height: 100%;

        @include mobile_s {
          border-radius: 5px;
        }

        @include mobile_m {
          border-radius: 5px;
        }

        @include mobile_l {
          border-radius: 5px;
          width: 100%;
        }
      }
    }

    .__width {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .box-comment {
      width: 630px;

      @include mobile_s {
        width: 100%;
        margin-top: 20px;
        text-align: center;
      }

      @include mobile_m {
        width: 100%;
        margin-top: 20px;
        text-align: center;
      }

      @include mobile_l {
        width: 100%;
        margin-top: 20px;
        text-align: center;
      }

      p {
        font-size: 32px;
        line-height: 44px;
        font-style: italic;
        font-family: "Libre Baskerville", serif;
        position: relative;

        @include mobile_s {
          font-size: 24px;
          line-height: 32px;
        }

        @include mobile_m {
          font-size: 24px;
          line-height: 32px;
          padding: 0 5px;
        }

        @include mobile_l {
          font-size: 18px;
          line-height: 28px;
          padding: 0;
        }

        &::before {
          content: url("../../images/dooble_quote_left.svg");
          position: absolute;
          bottom: 150px;
          right: 630px;

          @include mobile_s {
            bottom: 200px;
            left: 0;
          }

          @include mobile_m {
            bottom: 170px;
            right: 310px;
          }

          @include mobile_l {
            bottom: 90px;
            right: 355px;
          }
        }

        &::after {
          content: url("../../images/dooble_quote_right.svg");
          position: absolute;
          bottom: 10px;
          right: 390px;

          @include mobile_s {
            right: 0;
            bottom: 0;
          }

          @include mobile_m {
            right: 40px;
            bottom: 5px;
          }

          @include mobile_l {
            right: 95px;
            bottom: 3px;
          }
        }
      }

      span {
        @include text(
          $f_size: 20px,
          $l_height: 28px,
          $f_weight: 700,
          $color: $gray
        );

        @include mobile_s {
          margin-top: 20px;
        }

        @include mobile_m {
          margin-top: 20px;
        }

        @include mobile_l {
          margin-top: 20px;
        }
      }
    }
  }

  .insurance {
    background: $chinese_black;
    padding: 80px 0;

    @include mobile_s {
      padding: 40px 0;
    }

    @include mobile_m {
      padding: 40px 0;
    }

    @include mobile_l {
      padding: 40px 0;
    }

    .titles-sec {
      color: $white;

      @include mobile_s {
        text-align: center;
      }

      @include mobile_m {
        text-align: center;
      }

      @include mobile_l {
        text-align: center;
      }
    }

    .content {
      display: flex;
      align-items: center;
      margin-top: 20px;
      justify-content: space-between;

      @include mobile_s {
        flex-direction: column;
        gap: 20px;
      }

      @include mobile_m {
        flex-direction: column;
        gap: 20px;
      }

      @include mobile_l {
        flex-direction: column;
        gap: 20px;
      }

      .silver,
      .gold {
        padding: 32px 40px;
        background: $black;
        border-radius: 5px;

        @include mobile_s {
          padding: 20px;
          width: 100%;
        }

        @include mobile_m {
          padding: 20px;
          width: 100%;
        }

        @include mobile_l {
          padding: 20px;
          width: 100%;
        }

        .header-ins {
          display: flex;
          gap: 260px;

          @include mobile_s {
            gap: 0;
            justify-content: space-between;
          }

          @include mobile_m {
            gap: 0;
            justify-content: space-between;
          }

          @include mobile_l {
            gap: 0;
            justify-content: space-between;
          }

          .box-price {
            display: flex;
            flex-direction: column;
            text-align: right;

            .price {
              @include title(
                $f_size: 32px,
                $l_height: 40px,
                $f_weight: 500,
                $color: $white
              );

              @include mobile_s {
                font-size: 20px;
                line-height: 28px;
              }

              @include mobile_m {
                font-size: 20px;
                line-height: 28px;
              }

              @include mobile_l {
                font-size: 20px;
                line-height: 28px;
              }
            }

            .month {
              @include text(
                $f_size: 16px,
                $l_height: 20px,
                $f_weight: 500,
                $color: $dim_gray
              );

              @include mobile_s {
                font-size: 14px;
                line-height: 18px;
              }

              @include mobile_m {
                font-size: 14px;
                line-height: 18px;
              }

              @include mobile_l {
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 16px;
          list-style: none;
          margin-block: 20px;

          li {
            @include text(
              $f_size: 20px,
              $l_height: 28px,
              $f_weight: 500,
              $color: $white
            );
            @include mobile_s {
              font-size: 16px;
              line-height: 24px;
            }

            @include mobile_m {
              font-size: 16px;
              line-height: 24px;
            }

            @include mobile_l {
              font-size: 16px;
              line-height: 24px;
            }

            &::before {
              position: relative;
              content: url("../../images/icones/lista.svg");
              margin-right: 8px;
            }
          }
        }
      }

      .silver {
        .legend {
          @include title(
            $f_size: 32px,
            $l_height: 44px,
            $f_weight: 600,
            $color: $gray
          );
          text-transform: uppercase;

          @include mobile_s {
            font-size: 20px;
            line-height: 28px;
          }

          @include mobile_m {
            font-size: 20px;
            line-height: 28px;
          }

          @include mobile_l {
            font-size: 20px;
            line-height: 28px;
          }
        }

        .btn {
          background: $charleston_green;
          color: $white;
          margin-left: 20px;

          @include mobile_s {
            width: 100%;
            margin: 0;
            text-align: center;
          }

          @include mobile_m {
            margin: 0 auto;
          }

          @include mobile_l {
            width: 100%;
            margin: 0;
            text-align: center;
          }
        }
      }

      .gold {
        .legend {
          @include title(
            $f_size: 32px,
            $l_height: 44px,
            $f_weight: 600,
            $color: $chinese_gold
          );
          text-transform: uppercase;

          @include mobile_s {
            font-size: 20px;
            line-height: 28px;
          }

          @include mobile_m {
            font-size: 20px;
            line-height: 28px;
          }

          @include mobile_l {
            font-size: 20px;
            line-height: 28px;
          }
        }

        .btn {
          background: $chinese_gold;
          margin-left: 20px;

          @include mobile_s {
            width: 100%;
            margin: 0;
            text-align: center;
          }

          @include mobile_m {
            margin: 0 auto;
          }

          @include mobile_l {
            width: 100%;
            margin: 0;
            text-align: center;
          }
        }
      }
    }
  }
}
